[package]
name = "gossip"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1.38.0", features = ["full"] }
serde_json = "1.0"
log = "0.4.28"
env_logger = "0.11"